{% extends 'base.html.twig' %}
{% block body %}
<h1>bienvenu sur la page d'acceuil </h1>
<p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptatum expedita saepe, numquam dolores
                animi! Esse unde optio, est doloremque fuga rem magnam, quo sequi, aspernatur dolores assumenda cumque
                earum?</span><span>Cupiditate quod culpa unde quasi, iure expedita dolore, voluptatibus incidunt
                repudiandae
                deleniti nulla maxime quae itaque! Quaerat ullam ducimus corrupti ipsa voluptatem saepe est? Cumque
                reiciendis
                quaerat repellat pariatur nemo!</span></p>
<p><span>Laudantium incidunt facere est suscipit sequi minima at, porro modi dolor saepe earum iusto perferendis. Nihil,
                repellat. Porro exercitationem nobis quisquam officiis aspernatur repudiandae fugiat rem, hic quis
                aperiam
                voluptatibus?</span><span>Magnam doloremque fugit quod facere unde aspernatur consequuntur explicabo
                maxime
                voluptatum modi eius iusto, corrupti incidunt in obcaecati repellat, a aliquam, saepe eos harum
                asperiores
                commodi vel velit repudiandae? Animi.</span></p>
{% endblock %}