{% extends "base.html.twig" %}

{% block body %}
<h1>ajouter un article</h1>
{{form_start(form) }}

{{ form_row(form) }}
{% if art  %}
<a class="btn btn-danger" href="{{ path("blog_delete", {id: article.id}) }}">Delete article</a>
{% endif %}

{{form_end(form) }}

{% endblock %}